* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */

  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: hsl(212, 21%, 14%);
  background-color: hsl(30, 38%, 92%);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 64rem;
  width: 100%;
  padding: 0 2rem;
  display: flex;
}

.card-img {
  background-image: url("images/image-product-desktop.jpg");
  background-size: cover;
  background-position: center top;

  width: 50%;
  height: 45rem;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.card-details {
  background-color: #fff;
  width: 50%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 3.6rem 3.2rem;
}

.card-sub-heading {
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}

.card-heading {
  font-size: 3.5rem;
  font-family: "Fraunces";
  font-weight: 900;
  line-height: 1;
  margin-bottom: 2.4rem;
}

.card-text {
  color: hsl(228, 12%, 48%);
  line-height: 1.4;
  margin-bottom: 2.6rem;
}

.card-prices {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 2.2rem;
}

.offer {
  font-family: "Fraunces";
  font-size: 3.4rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.price {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.card-btn {
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: hsl(158, 36%, 37%);

  width: 100%;
  padding: 1.6rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s;
  cursor: pointer;
}

.card-btn:hover {
  background-color: hsl(158, 36%, 22%);
}

.card-btn span {
  font-weight: 700;
}

.card-btn img {
  margin-right: 1.8rem;
}

@media (max-width: 40em) {
  html {
    font-size: 56.25%;
  }

  .card {
    flex-direction: column;
    padding: 0 2rem;
  }

  .card-img {
    width: 100%;
    height: 26.67rem;
    background-image: url("images/image-product-mobile.jpg");

    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
  }

  .card-details {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    padding: 2.4rem 2.4rem;
  }

  .card-sub-heading {
    margin-bottom: 1.6rem;
  }

  .card-heading {
    margin-bottom: 2rem;
  }

  .card-text {
    font-size: 1.5rem;
  }

  .card-prices {
    margin-bottom: 1.8rem;
  }
}
